<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health IQ</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
     <nav>
      <div class="container nav-container">
        <div class="logo">
          <img src="/static/images/logo.png" alt="logo" />
          <span>Health IQ</span>
        </div>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/plans">Plans</a></li>
          <li><a href="/compare">Compare</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
      </div>
     </nav>
      <section class="hero">
        <div class="container hero-content">
          <div class="hero-left">
            <div class="badge">Trusted by 1000+ Users</div>
          <h1>Choose the Right <br />Health Insurance with <span>Confidence</span></h1>
          <p>Compare. Analyze. Choose</p>
          <div class="buttons">
            <a href="/plans" class="btn-primary">Browse Plans</a>
            <a href="/compare" class="btn-primary">Start Compare</a>
          </div>
          <ul class="features">
            <li>✔ Smart recommendations</li>
            <li>✔ Compare up to 3 plans</li>
            <li>✔ No hidden fees</li>
          </ul>
          </div>
          <div class="hero-right">
            <img src="/static/images/icon.png" alt="Health IQ Icon" />
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h2>Why Choose Health IQ</h2>
          <div class="cards">
            <div class="card"><h3>Smart Comparison</h3><p>Side-by-side insurance comparison with key parameters</p></div>
            <div class="card"><h3>Smart Recommendations</h3><p>Get plan suggestions based on your preferences and needs.</p></div>
            <div class="card"><h3>Transparent Information</h3><p>No hidden fees. Clear coverage and pricing structure.</p></div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h2>How It Works</h2>
          <div class="steps">
          <div class="step"><h3>1. Select Preferences</h3><p>Choose your health insurance needs and preferences.</p></div>
          <div class="step"><h3>2. Compare Plans</h3><p>View multiple plans side-by-side.</p></div>
          <div class="step"><h3>3. Get Your Best Match</h3><p>We suggest the most suitable plan for your needs.</p></div>
        </div>
      </section>

      <footer>
        <p>&copy; 2026 Health IQ - Insurance Comparison System.</p>
      </footer>
</body>
</html>